// Text Colors
.black      { color: $color-black; }
.primary    { color: $color-primary; }
.success    { color: $color-success; }
.warning    { color: $color-warning; }
.error      { color: $color-error; }

// Background Colors
.bg-black      { background-color: $color-black; }
.bg-primary    { background-color: $color-primary; }
.bg-success    { background-color: $color-success; }
.bg-warning    { background-color: $color-warning; }
.bg-error      { background-color: $color-error; }